/* Merci à Aurélie, la femme de ma vie, qui m'à aider avec les couleurs et le rendement visuel de ce site, je t'aime infiniment et tu es tout pour moi mon amour */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@112.5,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Martian+Mono:wdth,wght@112.5,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* tailwindcss */
@import "tailwindcss";

/* fonts applying */
.martian-mono-font {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 112.5;
}

.funnel-sans-font {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* gallery */
.image-gallery {
  transition: 0.25s;
}

.image-gallery:hover {
  transform: scale(1.05);
  transition: 0.25s;
  cursor: pointer;
}

/* global styles */
body {
  background-image: url("../src/assets/bg-presentation.png");
  background-size: 5%;
}

header {
  overflow:auto;
  background: linear-gradient(90deg,rgba(59, 75, 121, 1) 0%, rgba(127, 198, 200, 1) 50%, rgba(246, 212, 120, 1) 100%), url("../src/assets/bg-header.png"), 50%;
  box-shadow: 0px 0px 200px rgba(0, 0, 0, 0.648);
  background-blend-mode: lighten;
  background-size: 100%, 3%;
  opacity: 1, 0;
}

footer {
  display: flex;
  justify-content: center;
  background: rgb(38, 38, 38);
  text-align: center;
  padding-top: 5em;
  padding-bottom: 10em;
}

footer span {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

footer a {
  color: #f6d478;
  text-decoration: none;
  font-weight: 600;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

footer p {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Martian Mono", monospace;
  font-size: 3em;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 0.2em;
}

h2 {
  font-family: "Martian Mono", monospace;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 0.001%;
}

p {
  font-family: "Funnel Sans", sans-serif;
  color: #efeff0;
  font-size: 1.2em;
  text-wrap: pretty;
  text-shadow: 2px 2px 2px rgb(71, 71, 71);
}

@media (max-width: 1000px) {
  h1 {
    font-family: "Martian Mono", monospace;
    font-size: 2em;
    font-weight: 800;
    line-height: 1.2em;
    letter-spacing: 0.2em;
    text-align: center;
  }

  h2 {
    font-family: "Martian Mono", monospace;
    font-size: 1em;
    font-weight: 800;
    line-height: 1.2em;
    letter-spacing: 0.001%;
  }
}

/* acceuil style */
.home-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 2em;
  background-color: #3b4b7976;
}

.home-main-container h2 {
  font-family: "Martian Mono", monospace;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 0.001%;
  color: #efeff0;
  padding: 0.5em;
  width: 70%;
  background: linear-gradient(90deg,rgba(42, 40, 45, 0) 0%, rgba(59, 75, 121, 0.65) 25%, rgba(59, 75, 121, 0.65) 75%, rgba(42, 40, 45, 0) 100%);
}

.home-main-container h3 {
  font-family: "Martian Mono", monospace;
  font-size: 1.25em;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 0.001%;
  color: #ffe293;
  padding: 0.5em;
}

/* home skill container */
.home-skills-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em;
  margin-bottom: 6.5em;
  gap: 2em;
  width: 50%;
}

.home-skills-container h3 {
  padding-bottom: 2em;
}

.home-skills-container ul {
  list-style-type: none;
  padding-left: 0;
  color: #efeff0;
}

.home-skills-container li {
  display: flex;
  align-items: center;
  font-family: "Funnel Sans", sans-serif;
  font-size: 1.1em;
  padding: 0.5em;
  line-height: 1.8em;
}

.home-skills-container li img {
  justify-self: start;
  padding-right: 1em;
}

.home-skills-container li b {
  justify-self: start;
}

.home-skills-container li span {
  flex: 3;
  text-align: end;
  justify-self: end;
}

.skills-item {
  background-color: #3b4b79;
  background: linear-gradient(90deg,rgba(42, 40, 45, 0) 0%, rgba(59, 75, 121, 0.65) 25%, rgba(59, 75, 121, 0.65) 75%, rgba(42, 40, 45, 0) 100%);
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2em;
  width: 100%;
}

.skills-item b {
  font-weight: 800;
  margin-right: 3em;
  color: #f6d478;
}

/* home software grid */
.home-software-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: min-content;
  padding-left: 10%;
  padding-right: 10%;
}

.home-software-item {
  display: flex;
  flex-direction: column;
  background-color: #3b4b79;
  box-shadow: 1em 1em 5em #0000003e;
  border-radius: 2em;
  padding-top: 5%;
  margin: 5%;
}

.home-software-item img{
  height: 8em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.home-software-item h3 {
  background-color: #f6d478;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 600;
  color: #3b4b79;
}

.home-software-item p {
  text-align: center;
  text-shadow: #000000 0px 0px 0em;
  background-color: #8AC2B9;
  font-size: 1em;
  padding: 1em;
  border-radius: 0em 0em 2em 2em;
  height: stretch;
  color: #3b4b79;
}

@media (max-width: 1200px) {
  .home-software-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    padding-left: 5%;
    padding-right: 5%;
  }

  .home-software-item img {
    height: 7em;
  }

  .home-software-item h3 {
    font-size: 1.5em;
  }

  .home-software-item p {
    font-size: 1em;
  }
}

@media (max-width: 800px) {
  .home-software-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: min-content;
    padding-left: 5%;
    padding-right: 5%;
  }

  .home-software-item img {
    height: 6em;
  }

  .home-software-item h3 {
    font-size: 1.2em;
  }

  .home-software-item p {
    font-size: 0.9em;
  }
}

/* -_-_-_-_-_ nav -_-_-_-_-_ */
nav {
  padding: 1em;
  text-shadow: 1px 1px 0.3em rgb(0, 0, 0);
  background-color: #242424ae;
  box-shadow: 0em 0em 3em #242424ae;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between;
}

.nav-menu {
  font-family: "Martian Mono", monospace;
  color: #efeff0;
}

.nav-menu ul {
  overflow: hidden;
}

.nav-menu li {
  float: left;
  padding-left: 3em;
}

#nav-active {
  color: #f6d478;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

  .nav-menu li {
    float: none;
    padding-left: 0em;
  }
}

/* -_-_-_-_-_ acceuil -_-_-_-_-_ */

/* hero container */
.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em;
  margin-bottom: 5em;
  gap: 2em;
}

@media (max-width: 1000px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5em;
    margin-bottom: 5em;
    gap: 3em;
  }
}

/* hero text/block */
.hero-label {
  flex: 1;
  background: #3b4b79;
  border-radius: 0.5em;
  max-width: 400px;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #efeff0;
}

.hero-label h2 {
  margin: 0;
  text-align: center;
}

.hero-block {
  flex: 1;
  width: 40%;
  max-width: 800px;
}

.hero-block p {
  font-family: "Funnel Sans", sans-serif;
  color: #efeff0;
  font-size: 1.1em;
  text-wrap: pretty;
}

.hero-block .first-color {
  color: #efeff0;
}

.hero-block .second-color {
  color: #f6d478;
}

@media (max-width: 1000px) {

  .hero-label {
    flex: 1;
    background: #3b4b79;
    border-radius: 0.5em;
    max-width: 400px;
    padding: 1em;
    color: #efeff0;
  }

  .hero-block {
    flex: 1;
    max-width: 750px;
    width: 85%;
  }

  .hero-block p {
    font-family: "Funnel Sans", sans-serif;
    color: #efeff0;
    font-size: 0.9em;
    text-wrap: pretty;
    text-align: center;
  }
}

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5em;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #3b4b7976;
}

.home-philosophy {
  display: flex;
  background-color: #61687c6f;
  border-radius: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5em;
  margin-top: 5em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5em;
}

/* -_-_-_-_-_ info container from presentation page -_-_-_-_-_ */
.info-container {
  display: flex;
  background: linear-gradient(90deg,rgba(42, 40, 45, 0) 0%, rgba(59, 75, 121, 0.65) 25%, rgba(59, 75, 121, 0.65) 75%, rgba(42, 40, 45, 0) 100%);
  padding: 3em;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5em;
  gap: 2em;
  align-items: center;
}

.info-container img {
  flex: 1;
  border-radius: 1em;
  width: 40%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.137);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .info-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg,rgba(42, 40, 45, 0) 0%, rgba(59, 75, 121, 0.65) 25%, rgba(59, 75, 121, 0.65) 75%, rgba(42, 40, 45, 0) 100%);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5em;
    gap: 2em;
    align-items: center;
  }

  .info-container img {
    flex: 1;
    border: 0.5em solid #e65356;
    border-radius: 1em;
    height: auto;
    width: 100%;
    cursor: pointer;
  }

  .info-container p {
    font-size: 3.5vw;
  }

}

.info-text {
  flex: 1;
  text-align: center;}

/* middle container */
.middle-container {
  display: flex;
  flex-direction: column;
  background-color: #3b4b7970;
  margin-top: 5em;
  padding: 3em;
  padding-top: 5em;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.middle-container p {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

.middle-container h2 {
  text-align: center;
  color: #f6d478;
  font-family: "Martian Mono", monospace;
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2em;
  letter-spacing: 0.001%;
}

.middle-info-container {
  display: flex;
  flex-direction: row;
  margin: 2em;
  padding-top: 2em;
  padding-left: 15%;
  padding-right: 15%;
  gap: 2em;
  align-items: center;
}

.middle-info-container img {
  flex: 1;
  border-radius: 1em;
  width: 30%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.137);
  cursor: pointer;
}

.middle-info-container p {
  flex: 1;
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
}

.video-container {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.video-container iframe {
  border-radius: 1em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.137);
}

.video-container p {
  width: 30%;
  text-align: left;
  padding-left: 0%;
  padding-right: 0%;
}

@media (max-width: 1100px) {
  .middle-container {
    display: flex;
    flex-direction: column;
    background-color: #3b4b7970;
    margin-top: 5em;
    padding: 3em;
    padding-top: 5em;
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
  }

  .middle-container p {
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
  }

  .middle-info-container {
    display: flex;
    flex-direction: column;
    margin: 0em;
    padding-left: 0%;
    padding-right: 0%;
    gap: 2em;
    align-items: center;
  }

  .middle-info-container img {
    flex: 1;
    border-radius: 1em;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.137);
    cursor: pointer;
  }

  .middle-info-container p {
    flex: 1;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    margin: 0 auto;
  }

  .video-container iframe {
    width: 100%;
    height: auto;
  }

  .video-container p {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}

#back-to-top {
  justify-content: center;
  align-items: middle;
  width: 15%;
  margin-top: 2em;
  padding: 1em;
  background-color: #f6d478;
  border-radius: 0.5em;
  transition: 0.25s;
  cursor: pointer;
}

#back-to-top p {
  padding-left: 0%;
  padding-right: 0%;
}

#back-to-top:hover {
  background-color: #ffcd44;
  transition: 0.25s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.137);
}

@media (max-width: 1100px) {
  #back-to-top {
    width: 100%;
    margin-top: 0 auto;
    padding: 1em;
    background-color: #f6d478;
    border-radius: 0.5em;
    transition: 0.25s;
    cursor: pointer;
  }

  #back-to-top p {
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
  }
}

/* contact section */

#form-section {
  display: flex;
  padding-top: 5em;
  padding-bottom: 5em;
  justify-content: center;
  background-color: #3b4b7976;
}

#form-section form {
  padding: 3em;
  background-color: #3b4b7976;
  border-radius: 2em;
}

#form-section form h2 {
  color: #f6d478;
  text-align: center;
}

#form-section form p {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

#form-section label {
  font-family: "Funnel Sans", sans-serif;
  font-size: 1.2em;
  text-shadow: 1px 1px 0.3em #000000;
  color:#efeff0;
}

#form-section button {
  background-color: #f6d478;
  border-radius: 1em;
  transition-duration: 0.8s;
  cursor: pointer;
  padding: 1em;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 400;
  margin-top: 2em;
}

#form-section button p {
  text-align: center;
  font-style: normal;
  font-size: 1.2em;
}

#form-section button:hover {
  background-color: #ffcd44;
  box-shadow: 0.3em 0.3em 1em #0000007b;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: middle;
  justify-content: center;
}

.form-item {
  display: grid;
  grid-template: "a b" auto;
  margin: 1.5em;
  width: 90%;
}

textarea, input {
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 1px 1px 0.6em #000000;
  font-family: "Funnel Sans", sans-serif;
  font-size: 1.2em;
  color: #000000;
  transition-duration: 0.3s;
  padding: 0.5em;
  width: 100%;
}

textarea:hover, input:hover {
  box-shadow: 1px 1px 0.6em #535353;
}

/*_-_-_-_-_-_-_-_-_-_-_-_-_*/

/* modal */
#modal {
  display: none;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.312);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

#modal p {
  background-color: rgba(0, 0, 0, 0.800);
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#modal img {
  max-height: 75%;
  max-width: 75%;
  object-fit: contain;
  box-shadow: 3em 3em 3em rgba(0, 0, 0, 0.349);
}

#modal #close {
  position: absolute;
  top: 1em;
  right: 5em;
  color: #f6d478;
  font-size: 2em;
  cursor: pointer;
  text-shadow: 1em 1em 1em rgb(0, 0, 0);
}

/* keyframes and classes*/
.fade-in-image { animation: fadeIn 0.5s; }

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}