<section class="hero-container">
	<div id="label-left" class="hero-label">
		<h2><strong>WILLIAM SALEMBIEN</strong></h2>	
	</div>

	<div id="hero-right" class="hero-block">
		<h1 class="first-color"><strong>DÉVELOPPEUR</strong></h1>
		<h1 class="second-color"><strong>WEB/C++</strong></h1>
		<br>
		<p class="hero-text">
  			<strong>Créer. Innover. Plonger dans l’immersion.</strong>
			<br>
  			Du <strong>modding</strong> à la conception de <strong>jeux vidéo avec Unreal Engine</strong>, jusqu’au <strong>développement web interactif</strong>, je transforme mes idées en expériences vivantes. Autodidacte et curieux, je repousse chaque jour mes limites.
  			<br>
			<br>
  			<em>Découvrez mon parcours, mes projets… et ce que je peux créer pour vous.</em>
		</p>

		<a href="/public/downloads/">
			<button>
				Télécharger mon CV
			</button>
		</a>
	</div>
</section>