<div class="hero-container">
	<div id="label-left" class="hero-label">
		<h2><strong>WILLIAM SALEMBIEN</strong></h2>	
	</div>

	<div id="hero-right" class="hero-block">
		<h1 class="first-color"><strong>DÉVELOPPEUR</strong></h1>
		<h1 class="second-color"><strong>WEB</strong></h1>
		<br>
		<p class="hero-text">Passionné par la <strong>création numérique</strong>, j’ai débuté par le <strong>modding de jeux vidéo</strong> avant de me lancer dans le <strong>développement de jeux indépendants</strong>, notamment avec <strong>Unreal Engine</strong>. <strong>Curieux</strong> et <strong>autodidacte</strong>, j’ai également élargi mes compétences vers le <strong>développement web</strong>, combinant mon goût pour l’<strong>interactivité</strong> et la <strong>technique</strong>. Aujourd’hui, je conçois des <strong>expériences immersives</strong>, qu’elles prennent vie dans un <strong>jeu</strong> ou sur le <strong>web</strong>.</p>
	</div>
</div>