<nav>
	<div id="nav" class="nav-links">
		<div class="nav-logo">
			<a href="/">
				<img src="./src/assets/logo.png" alt="Mon logo" />
			</a>
		</div>
		<div id="nav-hambuga">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<button id="nav-menu">
			<ul>
				<li class=""><a id="" class="nav-button-links" href="/">Acceuil</a></li>
				<li class=""><a id="" class="nav-button-links" href="/presentation">Présentation</a></li>
				<li class=""><a id="" class="nav-button-links" href="/projets">Projets</a></li>
				<li class=""><a id="" class="nav-button-links" href="/contact">Contact</a></li>
				<li class=""><a href="#"><img src="" alt=""></a></li>
			</ul>
		</button>
	</div>
</nav>