<nav>
	<script src="../../public/scripts/nav.js"></script>
	<div id="nav" class="nav-links">
		<div class="nav-logo">
			<a href="/">
				<img src="./src/assets/logo.png" alt="Mon logo" />
			</a>
		</div>
		<div id="nav-hambuga">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<button id="nav-menu">
			<ul>
				<li class=""><a id="" class="nav-button-links" href="/">Acceuil</a></li>
				<li class=""><a id="" class="nav-button-links" href="/presentation">Présentation</a></li>
				<li class=""><a id="" class="nav-button-links" href="/projets">Projets</a></li>
				<li class=""><a id="" class="nav-button-links" href="/contact">Contact</a></li>
				<li class=""><a href="https://github.com/VinylTheDuster" target="_blank"><img src="./src/assets/github-mark-white.svg" alt=""></a></li>
				<li class=""><a href="https://www.linkedin.com/in/william-salembien/" target="_blank"><img src="/public/InBug-White.png" alt=""></a></li>
			</ul>
			</ul>
		</button>
	</div>
</nav>