<nav>
	<div class="nav-links">
		<div class="nav-logo">
			<a href="/">
				<img src="./src/assets/logo.png" alt="Mon logo" />
			</a>
		</div>
		<div class="nav-menu">
			<ul>
				<li class=""><a href="#presentation">Acceuil</a></li>
				<li class=""><a href="#presentation">Présentation</a></li>
				<li class=""><a href="#">Projets</a></li>
				<li class=""><a href="#">Contact</a></li>
				<li class=""><a href="#"><img src="" alt=""></a></li>
			</ul>
		</div>
	</div>
</nav>