<h2>MES COMPÉTENCES</h2>
<br>
<div class="home-skills-container">
	<div class="skills-item">
		<h3>Mes hard skills</h3>
		<ul>
			<li>
				<img src="../src/assets/skills-logo/code.svg" alt="Logo de script" aria-hidden="true"><b>Langages connus :</b><span>C++ / JavaScript / HTML5 / CSS3 / LUA / SQL</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/framework.svg" alt="Logo de framework" aria-hidden="true"><b>Frameworks et bibliothèques :</b> <span>Astro / React / Node.js</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/gameengine.svg" alt="Logo de moteur de jeu" aria-hidden="true"><b>Moteurs de jeu maîtrisé :</b> <span>Unreal Engine 4 et 5 / Unity 3D / Godot</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/devtools.svg" alt="Logo d'outils de développement" aria-hidden="true"><b>Outils de développement :</b> <span>Visual Studio / Git / Trello / Blender / 3ds Max (anciennement)</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/graphic.svg" alt="Logo d'outils de développement" aria-hidden="true"><b>Logiciels de création graphique :</b> <span>Adobe Photoshop / After Effects / Premiere Pro</span>
			</li>
		</ul>
	</div>
	<div class="skills-item">
		<h3>Mes soft skills</h3>
		<ul>
			<li>
				<img src="../src/assets/skills-logo/quicklearn.svg" alt="Logo d'apprentissage rapide" aria-hidden="true"><b>Capacité d'apprentissage rapide :</b> <span>Je m'adapte facilement aux nouvelles technologies et outils.</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/autonomous.svg" alt="Logo d'autonomie" aria-hidden="true"><b>Autonomie et sens de l'initiative :</b> <span>Je recherche proactivement des solutions et à optimiser mon code.</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/detail.svg" alt="Logo du détail" aria-hidden="true"><b>Rigueur et souci du détail :</b> <span>Je m'assure que chaque aspect de mon travail est soigné et fonctionnel.</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/problem.svg" alt="Logo de problème" aria-hidden="true"><b>Résolution de problèmes :</b> <span>Je m'assure d'avoir une approche méthodique face aux bugs et contraintes techniques.</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/adaptability.svg" alt="Logo d'adaptabilité" aria-hidden="true"><b>Adaptabilité :</b> <span>Je m'ajuste aux besoins du projet et aux changements de priorités.</span>
			</li>
			<li>
				<img src="../src/assets/skills-logo/curious.svg" alt="Logo de veille" aria-hidden="true"><b>Curiosité technologique :</b> <span>Je veille régulièrement sur les tendences d'internet et frameworks émergents.</span>
			</li>
		</ul>
	</div>
</div>