<h2>MES LOGICIELS</h2>
<br>
<br>
<p>Voici une liste des logiciels que j'utilise régulièrement dans mon travail de développeur, artiste 3D et musicien.</p>
<br>

<div class="home-software-grid">
			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/photoshop.svg" alt="Logo de Photoshop" />
				<h3>Adobe Photoshop</h3>
				<p>Il s'agit du premier logiciel de la suite Adobe que j'ai appris. Retouche de couleur, création de formes et de logos, incrustation ou encore, application d'effets, je maîtrise ce logiciel.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/aftereffect.svg" alt="Logo d'After Effect" />
				<h3>Adobe After Effect</h3>
				<p>Les contextes d'utilisation de ce logiciel dans mon cas sont divers et variés, mais j'ai souvent été amené à l'utiliser dans la création de composition vidéo avec ou sans effets spéciaux.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/premierpro.svg" alt="Logo de Premiere Pro" />
				<h3>Adobe Premiere Pro</h3>
				<p>Comme pour Adobe After Effect, j'ai été souvent amené à l'utiliser, dans le cas de montage simple de plusieurs échantillons de vidéo raw.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/audition.svg" alt="Logo d'Audition" />
				<h3>Adobe Audition</h3>
				<p>Adobe Audition est l'un des logiciels que j'utilise le moins, mais je l'ai anciennement utilisé, faute d'alternative plus pratique.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/vegaspro.svg" alt="Logo de Vegas Pro" />
				<h3>Sony/Magix Vegas Pro</h3>
				<p>Il s'agit du premier logiciel de montage vidéo que j'ai appris à utiliser. Interface simple et intuitive, j'ai monté des centaines d'heures de vidéo avant de passer à Adobe Ae.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/substance3dpainter.svg" alt="Logo de Substance 3D Painter" />
				<h3>Adobe Substance 3D Painter</h3>
				<p>Avant et après son rachat par Adobe, il s'agit du principal logiciel que j'utilise pour peindre mes UV Map, après la phase de modélisation sur Blender.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/substance3ddesigner.svg" alt="Logo de Substance 3D Designer" />
				<h3>Adobe Substance 3D Designer</h3>
				<p>À défaut d'utiliser le visual coding de Blender, j'utilise principalement ce logiciel afin de créer mes propres materials pour les utiliser sur Substance 3D Painter.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/audacity.svg" alt="Logo d'Audacity" />
				<h3>Audacity</h3>
				<p>Audacity est une valeur sûre pour enregistrer et traiter rapidement des échantillons sonores. Je l'utilise depuis 2012 et suis satisfait de sa praticité.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/blender.svg" alt="Logo de Blender" />
				<h3>Blender</h3>
				<p>Blender est mon logiciel de prédilection en ce qui concerne la modélisation 3D, l'UV Mapping et l'animation. J'ai à ce jour plus de 3600 heures d'utilisation (en ne prenant pas compte uniquement les statistiques Steam).</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/flstudio.png" alt="Logo d'FL Studio" />
				<h3>FL Studio</h3>
				<p>Étant également musicien MAO, FL Studio est un logiciel très important pour moi et m'accompagne depuis plus de 15 ans dans mes compositions musicale divers et variées.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/unrealengine.svg" alt="Logo d'Unreal Engine" />
				<h3>Unreal Engine 4/5</h3>
				<p>Ce logiciel est, parmi toutes les alternatives que j'ai pu explorer, celui qui convient le mieux à mes besoins en tant que développeur indépendant de jeu. J'ai une grande maîtrise de ce logiciel, l'utilisant depuis 2014.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/hammer.png" alt="Logo d'Hammer" />
				<h3>Hammer</h3>
				<p>À partir d'Half Life 2, j'ai utilisé Hammer pendant de nombreuses années et connais toutes les subtilités du logiciel, ayant créé des maps pour les jeux Half Life, Team Fortress 2, Counter Strike et Garry's Mod.</p>
			</div>

			<div class="home-software-item">
				<img class="image-gallery" src="../src/assets/software-logo/cryengine.png" alt="Logo de Cryengine" />
				<h3>CryEngine 1/2</h3>
				<p>La Sandbox de CryEngine représente mon meilleur souvenir d'enfance, ayant passé d'innombrables jours à créer des maps d'île, à créer des mods pour FarCry puis Crysis. Dans la communauté de Crydev, j'étais particulièrement actif, ayant créé de nombreux mod campagne et ayant fait de nombreux portage d'assets de Crysis Warhead à Crysis Wars.</p>
			</div>
		</div>