---
import SkillGrid from '../components/SkillGrid.astro';
import SoftwareGrid from '../components/SoftwareGrid.astro';
import BackToTopButton from "../components/BackToTopButton.astro"
---

<section class="home-intro">
	<p>
		Je suis un développeur et créateur multimédia autodidacte avec plus de 10 ans d'expérience dans le jeu vidéo et la 3D. Passionné par la création de contenu immersives, je me suis plongé dans le monde du développement web, combinant rigueur technique et sens artistique acquis via mon expérience pour concevoir des projets originaux.
	</p>
	<br>
	<section class="home-philosophy">
		<p>
			Pour moi, créer, c'est explorer un territoire où chaque pas représente une interrogation sur le processus créatif, et où chaque problème constitue une opportunité d'apprendre. Que ce soit dans le jeu vidéo ou dans le développement web, la route que j'emprunte vaux tout autant que l'arrivée : trouver des solutions à des problèmes bien spécifiques, me heurter aux limites de mes connaissances ou encore, chaque moment de doute sur mes choix techniques forgent mon expérience de développeur. Mon portfolio représente une étape ainsi qu'une promesse claire : celle d'écrire chaque page, chaque feuille de style, chaque fichier JavaScript, pour concevoir une expérience marquante.
		</p>
	</section>
</section>

<section class="home-main-container">
	<!-- Skill container -->
	<SkillGrid />
	<!-- Software container -->
	<SoftwareGrid />
	<!-- BTTB -->
	<BackToTopButton />
</section>

<section class="home-cta">
	<a href="/presentation" class="btn">En savoir plus</a>.
	<a href="/projects" class="btn">Voir mes projets</a>
	<a href="/contact" class="btn">Me contacter</a>
	<a href="" class="btn" download="">Télécharger mon Curriculum Vitae</a>
</section>