---
import SoftwareGrid from '../components/SoftwareGrid.astro';
---

<section class="home-intro">
	<p>
		Bienvenu sur mon portfolio. Ici, je partage mon parcours, mes projets et les univers que je construis depuis plus de 10 ans. Que vous soyez curieux ou juste de passage, n'hésitez pas à explorer mes travaux.
	</p>
	<br>
	<section class="home-philosophy">
		<p>
			Je crois qu'un bon projet, qu'il soit web ou jeu vidéo, naît d'un équilibre entre <strong>créativité, précision technique</strong> et le <strong>sens du détail</strong>.
		</p>
		<br>
		<p>
			Mon objectif ? Apprendre, expérimenter, et proposer des expériences qui marquent les esprits.
		</p>
	</section>
</section>	

<section class="home-main-container">
	<h2>Mes compétences</h2>

	<!-- Skill container -->
	<div class="home-skill-container">

		<!-- Software grid and items -->
		<SoftwareGrid />
	</div>
</section>

<section class="home-cta">
	<a href="/presentation" class="btn">En savoir plus</a>.
	<a href="/projects" class="btn">Voir mes projets</a>
	<a href="/contact" class="btn">Me contacter</a>
	<a href="" class="btn" download="">Télécharger mon Curriculum Vitae</a>
</section>