---
import SoftwareGrid from '../components/SoftwareGrid.astro';
---

<section class="home-intro">
	<p>
		Bienvenu sur mon portfolio. Ici, je partage mon parcours, mes projets et les univers que je construis depuis plus de 10 ans. Que vous soyez curieux ou juste de passage, n'hésitez pas à explorer mes travaux.
	</p>
	<br>
	<section class="home-philosophy">
		<p>
			Je crois qu'un bon projet, qu'il soit web ou jeu vidéo, naît d'un équilibre entre <strong>créativité, précision technique</strong> et <strong>sens du détail</strong>.
		</p>
		<br>
		<p>
			Mon objectif ? Apprendre, expérimenter, et proposer des expériences qui marquent les esprits.
		</p>
	</section>
</section>

<section class="home-main-container">
	<h2>MES COMPÉTENCES</h2>
	<br>
	<div class="home-skills-container">
		<div class="skills-item">
			<h3>Mes compétences techniques</h3>
			<ul>
				<li>
					<img src="../src/assets/skills-logo/code.svg" alt="Logo de script" aria-hidden="true"><b>Langages connus :</b><span>C++ / JavaScript / HTML5 / CSS3 / LUA</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/framework.svg" alt="Logo de framework" aria-hidden="true"><b>Frameworks et bibliothèques :</b> <span>Astro / React / Node.js</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/gameengine.svg" alt="Logo de moteur de jeu" aria-hidden="true"><b>Moteurs de jeu maîtrisé :</b> <span>Unreal Engine 4 et 5 / Unity 3D / Godot</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/devtools.svg" alt="Logo d'outils de développement" aria-hidden="true"><b>Outils de développement :</b> <span>Visual Studio 2019/2022 / Git / Blender / 3ds Max (anciennement)</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/graphic.svg" alt="Logo d'outils de développement" aria-hidden="true"><b>Logiciels de création graphique :</b> <span>Adobe Photoshop / After Effects / Premiere Pro</span>
				</li>
		</div>
		<div class="skills-item">
			<h3>Mes soft skills</h3>
			<ul>
				<li>
					<img src="../src/assets/skills-logo/quicklearn.svg" alt="Logo d'apprentissage rapide" aria-hidden="true"><b>Capacité d'apprentissage rapide :</b> <span>je m'adapte facilement aux nouvelles technologies et outils.</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/autonomous.svg" alt="Logo d'autonomie" aria-hidden="true"><b>Autonomie et sens de l'initiative :</b> <span>je recherche proactivement des solutions et à optimiser mon code.</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/detail.svg" alt="Logo du détail" aria-hidden="true"><b>Rigueur et souci du détail :</b> <span>je m'assure que chaque aspect de mon travail est soigné et fonctionnel.</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/problem.svg" alt="Logo de problème" aria-hidden="true"><b>Résolution de problèmes :</b> <span>je m'assure d'avoir une approche méthodique face aux bugs et contraintes techniques.</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/adaptability.svg" alt="Logo d'adaptabilité" aria-hidden="true"><b>Adaptabilité :</b> <span>je m'ajuste aux besoins du projet et aux changements de priorités.</span>
				</li>
				<li>
					<img src="../src/assets/skills-logo/curious.svg" alt="Logo de veille" aria-hidden="true"><b>Curiosité technologique :</b> <span>je veille régulièrement sur les tendences d'internet et frameworks émergents.</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- Skill container -->
	<SoftwareGrid />
</section>

<section class="home-cta">
	<a href="/presentation" class="btn">En savoir plus</a>.
	<a href="/projects" class="btn">Voir mes projets</a>
	<a href="/contact" class="btn">Me contacter</a>
	<a href="" class="btn" download="">Télécharger mon Curriculum Vitae</a>
</section>