<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>William - Digital Playground</title>
		<script is:inline src="/public/scripts/gallerie.js"></script>
	</head>
	<body>
		<slot />

		<div class="fade-in-image" id="modal">
			<span id="close">×</span>
  			<img class="modal-content" id="imgblock">
  			<p id="caption"></p>
		</div>
	</body>
</html>
