<script type="module" src="/scripts/project-fetcher.js"></script>
<section class="project-container">
	<div>
		<h2>
			Mes projets
		</h2>

		<p>
			Voici un aperçu de mes anciens et récent projets.
		</p>
	</div>

	<div id="project-grid">
		
	</div>
</section>