<script is:inline type="module" src="/public/scripts/project-fetcher.js"></script>
<section class="project-container">
	<div>
		<h2>
			Mes projets
		</h2>

		<p>
			Voici la plupart des projets sur lesquels j'ai ou je travaille encore.
		</p>
	</div>
	<div id="project-grid">
	</div>
</section>